/* DroidNaskh-300 - latin */
@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ArbFONTS-Droid.Arabic.Naskh_.Regular_DownloadSoftware.iR_.ttf'); /* IE9 Compat Modes */

}
